In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
#df = pd.read_csv("data/train.csv")
df = pd.read_excel('itService.xlsx')
df

       YYMM    YY  MM  CNT
0    201305  2013   5   14
1    201306  2013   6   70
2    201307  2013   7   25
3    201308  2013   8   15
4    201309  2013   9   13
..      ...   ...  ..  ...
99   202108  2021   8  127
100  202109  2021   9  107
101  202110  2021  10  137
102  202111  2021  11  143
103  202112  2021  12  144

[104 rows x 4 columns]